<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gibunigajoa">
<!--아이디 중복체크 -->
<select id="signupIdCheck" parameterType="String" resultType="int">select count(*) from users where user_id=#{user_id}</select>
<!--개인회원가입 Insert  -->
<insert id="memberInsert" parameterType="contribution.model.UserCommand">insert into users values(#{user_idx}, #{user_id}, #{password}, #{name}, #{nickname}, #{birthday}, #{phone_number}, #{register_date}, #{grade}, #{user_type_id}, #{organization_id})</insert>
<!--로그인 체크 -->
<select id="loginCheck" parameterType="map" resultType="contribution.model.UserCommand">select * from users where user_id=#{user_id} and password=#{password}</select>
<!--카카오&네이버 회원정보저장  -->
<insert id="kakaoNaverInsert" parameterType="contribution.model.UserCommand">insert into users (user_id, name, nickname, register_date, grade, user_type_id, organization_id) values(#{user_id}, #{name}, #{nickname}, #{register_date}, #{grade}, #{user_type_id}, #{organization_id})</insert>

<!--카카오&네이버 로그인 -->
<select id="kakaoNaverloginCheck" parameterType="String" resultType="contribution.model.UserCommand">select * from users where user_id=#{user_id}</select>
<!--등급을 위한 사용가 총 기부내역 sum -->
<select id="contributionSum" parameterType="int" resultType="int">select count(*) from contribution_history where user_idx=#{user_idx}</select>

</mapper> 